.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#btn:hover{
  background-color: rgba(78, 68, 206, 0.8);
}


input{
  border-radius: 5px;
  margin-left: 10px;
  font-size: 25px;
  border : 2px solid #45c7ff;

}

a{
  font-size: 20px;
}

#username{
  margin-bottom: 3px;
}

#btn{
  color: white;
  background-color: #4E44CE;
  font-size: 15px;
  border-style: solid;
  font-family: 'Inter', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  border-width: 0px;
  border-radius: 8px;
  height: 40px;
  width: 120px;
}

input::placeholder{
  font-size: 20px;
  font-family: 'Inter', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: italic;
  padding-left: 80px;
}

